body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-container img {
    height: 50px;
}

.header-title {
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    color: #333;
    cursor: pointer;
}

.header-title a {
    text-decoration: none;
    color: inherit;
}

.login-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.login-container img {
    height: 30px;
}

.login-container a {
    text-decoration: none;
    font-size: 16px;
    color: #000;
}

.main-container {
    display: flex;
    gap: 20px;
    max-width: 1200px;
    margin: 20px auto;

}

.sidebar {
    width: 220px;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    margin-right: 10px;
}

.sidebar-title {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 15px;
    padding: 10px;
    background-color: #eee;
    text-align: center;
    border-radius: 4px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
    display: flex;
    align-items: center;
}

.sidebar ul li.active {
    font-weight: bold;
    color: #007bff;
}

.sidebar ul li.active:before {
    content: "◆";
    color: #007bff;
    margin-right: 8px;
}

.sidebar ul li:before {
    content: "◆";
    color: #ccc;
    margin-right: 8px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #333;
}
.content {
    flex-grow: 1;
    padding-left: 20px;
}
.date-filter-container {
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.date-filter-container h2 {
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: left;
    margin-top: 0;
}

.date-filter-container button {
    padding: 10px 20px;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.date-filter-container button:hover {
    background-color: #5a6268;
}

.category-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 900px;
}

.category-container h3 {
    margin-top: 0;
    font-size: 25px;
    font-weight: bold;
}

.category-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

.category-buttons button {
    width: 140px;
    padding: 15px 0;
    background-color: #6c757d;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    text-align: center;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.category-buttons button:hover {
    background-color: #5a6268;
}

.category-buttons button a {
    color: white;
    text-decoration: none;
}
.books-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3개 열로 정렬 */
    gap: 20px; /* 항목 간 간격 */
    margin-top: 25px;
    background-color: #f9f9f9;
    max-width: 900px;

}

.book-item {
    position: relative; /* loan-count를 이미지 위에 겹치기 위해 position 설정 */
    text-align: center;
    border-radius: 8px;
    padding: 10px;
    background-color: #f9f9f9;/* 배경 투명 */
    display: flex; /* 플렉스 레이아웃 추가 */
    flex-direction: column; /* 세로 정렬 */
    align-items: center; /* 중앙 정렬 */
    justify-content: space-between; /* 요소 간 간격 균등 배치 */
    margin-bottom: 1px;
}
.loan-count {
    top: 20px; /* 상단에서 간격 */
    margin-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.1); /* 반투명 검은 배경 */
    color: black;
    padding: 5px 50px;
    border-radius: 50px;
    font-size: 14px;
    font-weight: bold;
}

.book-item img {
    width: 60%; /* 컨테이너 너비에 맞춤 */
    height: 200px; /* 고정된 높이 설정 */
    border-radius: 8px;
    margin-bottom: 10px;
}

.book-item h4 {
    margin-top: 2px;
    font-size: 15px;
    font-weight: bold;
    overflow: hidden; /* 너비 초과 시 처리 */
}
.favorite-btn {
    margin-top: 10px;
    display: inline-block;
    margin: 0px auto 0; /* 제목과 버튼 간격 */
    padding: 10px 20px;
    background-color: #007bff; /* 파란색 배경 */
    color: white; /* 흰색 글씨 */
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;

}

.favorite-btn:hover {
    background-color: #0056b3; /* 호버 시 더 짙은 파란색 */
}